body {
    font-family: 'Manrope', sans-serif;
}

div {
    width: 80%;
    height: 400px;
    margin: 20px auto;
    background-image: linear-gradient(rgba(0,0,0, .6), rgba(0,0,0, .3)) , url(../images/https___hypebeast.com_image_2025_08_15_the-slow-death-of-the-contemporary-art-gallery-1.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius:20px;
    padding: 200px 0 0px;
}

h2{
    color: rgb(163, 163, 226);
    margin: 20px 60px 0px;
    font-weight: bolder;
    text-shadow: 5px 1px 5px rgb(66, 67, 72);
}

div p{ 
    /* padding: 0px 20px 10px 60px; */
    margin: 10px 60px 40px;
    font-weight: 1000;
    color: rgb(196, 205, 214);
    text-shadow: 5px 1px 5px black;
}

div a{
    width: 50%;
    height: auto;
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(86, 86, 139);
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    margin-left: 60px;
}

div a:hover{
    background-color: transparent;
    border: 1px solid rgb(196, 205, 214);
}